
:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
    background-color: #1A1A1A;
}

a, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    color: #22C55E;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 2em;
}

p {
    color: #828282;
}

.nav-container {
    background-color: #151515;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.nav-links a, button {
    margin-left: 1em;
    padding: 1em;
}

.container-header {
    position: relative;
    background-image: url('/img/american-football-field.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38em;
    overflow: hidden; 
    text-align: center;
}

.container-header::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.header {
    position: relative;
    z-index: 2; 
    padding: 3cap;
}


.header-2 img {
    max-width: 100%;
    height: auto;
}

.deportes-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.1em;
}

.lista-deportes {
    text-align: center;
}

.contenido-lista-deportes {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.seccion-quienes-somos {
    padding: 2em;
    color: #22C55E;
}

.caja-seccion-quienes-somos {
    background-color: blue;
}

.dupla-cajas {
    display: flex;
}

.caja-quienes-somos-1, .caja-quienes-somos-2 {
    width: 100%;
    background-color: red;
    text-align: center;
}

.caja-quienes-somos-3 {
    width: 100%;
    background-color: green;
    text-align: center;
}